{% extends "base.html" %}
{% load money_tags %}

{% block content %}

<h1>Retailer Category {{ category }}</h1>


<div class="grid gap-0 row-gap-3">
    <div class="btn-group p-3" role="group" aria-label="Basic button group">
        {% for cat in category_list %}
        <a class="btn btn-outline-primary" href="{% url 'money:category_detail' cat.0 %}">{{ cat.1 }}</a>
        {% endfor %}
    </div>
</div>


{% if selected_month %}
<h2>{{ selected_month.1 }}</h2>
{% else %}
<h2>All Months</h2>
{% endif %}

<div class="btn-group p-1" role="group">
    <a href="{% url 'money:category_detail' category %}" class="btn btn-outline-secondary">All</a>
</div>

{% include "shared/month_selector.html" %}

{% if month_detail %}
{% for currency in currencies %}
{% if data|get_value:currency %}
<div>
    <canvas id="month_detail_{{ currency }}" width="250" height="500"></canvas>
</div>
{% endif %}
{% endfor %}

<table class="table">
    <thead>
        <tr>
            <th>통화</th>
            <th>월</th>
            <th>금액</th>
        </tr>
    </thead>
    {% for month in month_detail %}
    <tr>
        <td>{{ month.account__currency }}</td>
        <td>{{ month.month.year }}년 {{ month.month.month }}월</td>
        <td>{{ month.total_amount|print_currency:month.account__currency | safe }}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}


<h1>Retailer Summary</h1>

{% for currency in currencies %}
{% if data|get_value:currency %}
<div>
    <canvas id="myChart_{{ currency }}" width="500" height="500"></canvas>
</div>
{% endif %}
{% endfor %}

<table class="table">
    <thead>
        <tr>
            <th>Currency</th>
            <th>Name</th>
            <th>Amount</th>
        </tr>
    </thead>
    {% for retailer in retailer_detail %}
    <tr>
        <td>{{ retailer.account__currency }}</td>
        {% if retailer.retailer__id %}
        <td><a href="{% url 'money:retailer_detail' retailer.retailer__id %}">{{ retailer.retailer__name }}</a></td>
        {% else %}
        <td>None</td>
        {% endif %}
        <td align="right">{{ retailer.amount__sum|print_currency:retailer.account__currency | safe }}</td>
    </tr>
    {% endfor %}
</table>

<h1>Unreviewed Transactions</h1>
{% with transaction_list=unreviewd print_flags=True %}
{% include 'transaction/transaction_table.html' %}
{% endwith %}

{% for currency in currencies %}
{% include 'scripts/category_chart.html' %}
{% endfor %}

{% include 'scripts/toggle_reviewed.html' %}
{% endblock %}