{% extends "base.html" %}
{% load money_tags %}

{% block content %}

{% if selected_month %}
<h1>{{ selected_month.1 }}</h1>
{% else %}
<h1>All Months</h1>
{% endif %}


<div class="btn-group p-3" role="group" aria-label="Basic button group">
    <a href="{% url 'money:transaction_category' %}" class="btn btn-outline-secondary">All</a>

    {% for month in months %}
    <a href="?month={{ month }}" class="btn btn-outline-primary">{{ month }}</a>
    {% endfor %}
</div>

<h2>Income</h2>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Currency</th>
            <th>Type</th>
            <th>Total</th>
        </tr>
    </thead>
    {% for currency, summary_list in income %}
    {% for summary in summary_list %}
    <tr>
        {% if forloop.first %}
        <td rowspan="{{ summary_list | length }}">
            {{ currency }}
        </td>
        {% endif %}
        <td>
            <a href="{% url 'money:category_detail' summary.type %}?month={{ selected_month.0 }}">
                {{ summary.type }}
            </a>
        </td>
        <td align="right">
            {{ summary.total_amount|abs_filter|print_currency:currency }}
        </td>
    </tr>
    {% endfor %}
    {% endfor %}
</table>

<h2>Spending</h2>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Currency</th>
            <th>Type</th>
            <th>Total</th>
        </tr>
    </thead>

    {% for currency, summary_list in spent %}
    {% for summary in summary_list %}
    <tr>
        {% if forloop.first %}
        <td rowspan="{{ summary_list | length }}">
            {{ currency }}
        </td>
        {% endif %}
        <td>
            <a href="{% url 'money:category_detail' summary.type %}?month={{ selected_month.0 }}">
                {{ summary.type }}
            </a>
        </td>
        <td>
            {{ summary.account__currency }}
        </td>
        <td align="right">{{ summary.total_amount|print_currency:currency }}</td>
    </tr>
    {% endfor %}
    {% endfor %}
</table>


{% for currency in currencies %}
{% if data|get_value:currency %}

<h1>Spending chart for {{ currency }}</h1>
<div>
    <canvas id="myChart_{{ currency }}" width="500" height="500"></canvas>
</div>
<script>
    const ctx_{{ currency }} = document.getElementById('myChart_{{ currency }}');

    new Chart(ctx_{{ currency }}, {
        type: 'doughnut',
        data: {
            labels: {{ label | get_value:currency | safe }},
        datasets: [{
            label: 'Category',
            data: {{ data | get_value:currency | safe }}
            }]
        },
        options: {
        maintainAspectRatio: false,
        responsive: true
    }
    });
</script>
{% endif %}
{% endfor %}
{% endblock %}