{% extends "base.html" %}
{% load money_tags %}

{% block content %}
<h1>{{ bank }}</h1>

<a href="" class="btn btn-secondary">Add New Account</a>

<table class="table">

  <thead>
    <tr>
      <th>ID</th>
      <th>Account</th>
      <th>Balance</th>
    </tr>
  </thead>
  {% for account in account_list %}
  <tr>
    <td>{{ account.id }}</td>
    <td><a href="{% url 'money:account_detail' account.id %}">{{ account.name }}</a></td>
    <td align="right">{{ account.amount | print_currency:account.currency | safe }}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}