{% extends "base.html" %}
{% load money_tags %}

{% block content %}
<h1>{{ bank }}</h1>
<a href="{% url 'money:bank_list' %}" class="btn btn-primary">Bank List</a>

<a href="" class="btn btn-secondary">Add New Account</a>

<table class="table">

  <thead>
    <tr>
      <th>ID</th>
      <th>Account</th>
      <th>Type</th>
      <th>Last Transaction</th>
      <th>First transaction</th>
      <th>Balance</th>
      <th>Stock</th>
    </tr>
  </thead>
  {% for account in account_list %}
  <tr>
    <td>{{ account.id }}</td>
    <td><a href="{% url 'money:account_detail' account.id %}">{{ account.name }}</a></td>
    <td>{{ account.type }}</td>
    <td>{{ account.last_transaction }}</td>
    <td>{{ account.first_transaction | date:"Y-m-d" }}{% if not account.first_added %}(Not Correct){% endif %}</td>
    {% with stock_list=stock_balance_map|get_value:account.id stock_value=stock_value_map|get_value:account.id %}
    <td align="right">
      Cash: {{ account.amount | print_currency:account.currency | safe }}
      {% if stock_value %}
        <br />
        Stock: {{ stock_value | print_currency:account.currency | safe }}
        <br />
        Total: {{ account.amount | add_float:stock_value | print_currency:account.currency | safe }}
      {% endif %}

    </td>
    <td>
      Total Stock Price : {{ stock_value | print_currency:account.currency | safe }} <br />
      {% for stock in stock_list %}
      {% if not forloop.first %}
      <br />
      {% endif %}
      {{ stock.0 }}: {{ stock.1 | floatformat:2 }} Price: {{ stock.2 | print_currency:account.currency | safe }}
      {% endfor %}
    </td>
    {% endwith %}
  </tr>
  {% endfor %}
</table>

{% endblock %}
