{% extends "base.html" %}
{% load money_tags %}

{% block content %}
<h1>{{ bank }}</h1>

<a href="" class="btn btn-secondary">Add New Account</a>

<table class="table">

  <thead>
    <tr>
      <th>ID</th>
      <th>Account</th>
      <th>Balance</th>
      <th>Stock</th>
    </tr>
  </thead>
  {% for account in account_list %}
  <tr>
    <td>{{ account.id }}</td>
    <td><a href="{% url 'money:account_detail' account.id %}">{{ account.name }}</a></td>
    <td align="right">{{ account.amount | print_currency:account.currency | safe }}</td>
    {% with stock_list=stock_balance_map|get_value:account.id %}
    <td>
      {% for stock in stock_list %}
      {% if not forloop.first %}
      <br />
      {% endif %}
      {{ stock.0 }}: {{ stock.1 | floatformat:2 }}
      {% endfor %}
    </td>
    {% endwith %}
  </tr>
  {% endfor %}
</table>

{% endblock %}