{% extends "base.html" %}
{% load money_tags %}
{% load crispy_forms_tags %}
{% block content %}

{% crispy form %}

<script>
    // const addFieldButton = document.getElementById("add-keyvalue-pay");
    // const fieldsContainer = document.getElementById("div_id_pay_detail");

    // addFieldButton.addEventListener("click", () => {
    //     const field = document.createElement("div");
    //     const last_element = fieldsContainer.children[fieldsContainer.children.length - 1]
    //     console.log(last_element);

    //     field.innerHTML = `<div class="input-group" id="input-pay">
    //         <input type="text" name="pay_detail_0" class="textinput form-control" required="" id="id_pay_details[]">
    //         <input type="text" name="pay_detail_1" class="textinput form-control" required="" id="id_pay_details[]">`
    //     fieldsContainer.insertBefore(field, last_element);
    // });


</script>
<script>
    window.addEventListener('load', function () {
        let item_count = 1;

        // function addRemoveEventListener(widgetElement) {
        //     widgetElement.querySelectorAll('.remove').forEach(element => {
        //         element.addEventListener('click', () => {
        //             element.parentNode.remove();
        //         });
        //     });
        // }

        function initializeWidget(widgetElement) {
            const initialElement = widgetElement.querySelector('.array-item');
            const elementTemplate = initialElement.cloneNode(true);
            const parentElement = initialElement.parentElement;

            if (initialElement.getAttribute('data-isNone')) {
                initialElement.remove();
                elementTemplate.removeAttribute('data-isNone');
                elementTemplate.removeAttribute('style');
            }
            // addRemoveEventListener(widgetElement);

            widgetElement.querySelector('.add-array-item').addEventListener('click', () => {
                item_count++;
                const newElement = elementTemplate.cloneNode(true);
                const id_parts = newElement.querySelector('input').getAttribute('id').split('_');
                const id = id_parts.slice(0, -1).join('_') + '_' + String(item_count - 1);
                newElement.querySelector('input').setAttribute('id', id);
                newElement.querySelector('input').value = '';

                // addRemoveEventListener(newElement);
                parentElement.appendChild(newElement);
            });
        }

        document.querySelectorAll(".dynamic-array-widget").forEach(
            (widgetElement) => initializeWidget(widgetElement)
        );

        // django.jQuery(document).on('formset:added', function (event, $row, formsetName) {
        //     $row[0].querySelectorAll(".dynamic-array-widget").forEach(
        //         widgetElement => initializeWidget(widgetElement)
        //     );
        // });
    });
</script>

{% endblock %}
