{% extends "base.html" %}
{% load money_tags %}

{% block content %}

<a href="{% url 'money:salary_create' %}" class="btn btn-primary">Add Salary</a>

<h1>Salary Summary</h1>

<table class="table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Gross Pay</th>
            <th>Net Pay</th>
        </tr>
    </thead>
    <tbody>
        {% for salary in salary_list %}
        <tr>
            <td><a href="{% url 'money:salary_detail' salary.id %}">{{ salary.date }}</a></td>
            <td align="right">{{ salary.gross_pay | print_dollar | safe }}</td>
            <td align="right">{{ salary.net_pay | print_dollar | safe }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div>
    <canvas id="SalaryChart"></canvas>
</div>

<h1>Salary Breakdown</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Date</th>
            <th>Gross Pay</th>
            <th>Total Adjustment</th>
            <th>Taxable Earnings</th>
            <th>Taxes Withheld</th>
            <th>Total After Tax Deductions</th>
            <th>Net Pay</th>
        </tr>
    </thead>
    <tbody>
        {% for salary in salary_list %}
        <tr>
            <td><a href="{% url 'money:salary_detail' salary.id %}">{{ salary.date }}</a></td>
            <td align="right">{{ salary.gross_pay | print_dollar | safe }}</td>
            <td align="right">{{ salary.total_adjustment | print_dollar | safe }}</td>
            <td align="right">{{ salary.gross_pay | add_float:salary.total_adjustment | print_dollar | safe }}</td>
            <td align="right">{{ salary.total_withheld | print_dollar | safe }}</td>
            <td align="right">{{ salary.total_deduction | print_dollar | safe }}</td>
            <td align="right">{{ salary.net_pay|print_dollar | safe }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script>
    const SalaryChart_ctx = document.getElementById('SalaryChart');

    new Chart(SalaryChart_ctx, {
        type: 'bar',
        data: {{ datasets | safe }},
        options : {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
    });
</script>

{% endblock %}
