{% extends "base.html" %}

{% block content %}
<h1>Detail Required Transactions</h1>

<a href="{% url 'money:set_detail_required' %}" class="btn btn-success">Set Detail Required</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Date</th>
            <th>Retailer</th>
            <th>Account</th>
            <th>Amount</th>
            <th>Category</th>
            <th>Note</th>
            <th>Add Detail</th>
        </tr>
    </thead>
    <tbody>
        {% for transaction in transaction_list %}
        <tr>
            {% with add_detail=True %}
            {% include 'transaction/transaction_cell.html' %}
            {% endwith %}
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current-page">
            Page {{ page_obj.number }} of {{ paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">next</a>
        <a href="?page={{ paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>


{% endblock %}