# PostgreSQL
# ------------------------------------------------------------------------------
# Copy this to .postgres and update with your actual database credentials
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=finance
POSTGRES_USER=your_postgres_user
POSTGRES_PASSWORD=your_postgres_password
