{% extends "base.html" %}
{% load money_tags %}
{% block content %}

<table class="table">
    <thead>
        <tr>
            <th>Retailer</th>
            <th>Retailer Type</th>
            <th>Retailer Category</th>
        </tr>
    </thead>
    <tr>
        <td>{{ retailer.name }}</td>
        <td>{{ retailer.type }}</td>
        <td>{{ retailer.category }}</td>
    </tr>
</table>

<h1>월별 사용량</h1>
<table class="table">
    <thead>
        <tr>
            <td>월</td>
            <td>금액</td>
        </tr>
    </thead>
    {% for month in transactions_by_month %}
    <tr>
        <td>{{ month.month.year }}년 {{ month.month.month }}월</td>
        <td align="right">{{ month.total_amount|print_dollar }}</td>
    </tr>
    {% endfor %}
</table>

<h1>상세내역</h1>

{% with transaction_list=transactions ignore_retailer=True %}
{% include 'transaction/transaction_table.html' %}
{% endwith %}

{% endblock %}