{% extends "base.html" %}
{% load money_tags %}
{% block content %}

<table class="table">
    <thead>
        <tr>
            <th>Retailer</th>
            <th>Retailer Type</th>
        </tr>
    </thead>
    <tr>
        <td>{{ retailer.name }}</td>
        <td>{{ retailer.type }}</td>
    </tr>
</table>

<table class="table">
    <thead>
        <tr>
            <th>Datetime</th>
            <th>Amount</th>
            <th>Category</th>
            <th>Note</th>
        </tr>
    </thead>
    {% for transaction in transactions %}
    <tr>
        <td>{{ transaction.datetime|date:"Y-m-d" }}</td>
        <td>{{ transaction.amount }}</td>
        <td>{{ transaction.type }}</td>
        <td>{{ transaction.note }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}