{% extends "base.html" %}

{% block content %}

<div class="grid gap-0 row-gap-3">
    <div class="btn-group p-3" role="group" aria-label="Basic checkbox toggle button group">
        {% for cat in category_list %}
        <a class="btn btn-outline-primary" href="{% url 'money:retailer_category' cat.0 %}">{{ cat.1 }}</a>
        {% endfor %}
    </div>
</div>

<h1>Retailer Category {{ category }}</h1>

<table class="table">
    <thead>
        <tr>
            <th>Retailer Name</th>
        </tr>
    </thead>
    {% for retailer in retailer_list %}
    <tr>
        <td><a href="{% url 'money:retailer_detail' retailer.id %}">{{ retailer }}</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}