{% extends "base.html" %}
{% load money_tags %}
{% block content %}

<div class="grid gap-0 row-gap-3">
    {% include 'shared/category_list.html' %}

    <div class="p-3">

        <div class="btn-group" role="group" aria-label="Basic button group">
            <a class="btn btn-primary" href="{% url 'money:retailer_create' %}">
                Add new retailer
            </a>
            <button type="button" class="btn btn-secondary" id="update_retailer_type">
                Update Retailer Type
            </button>
        </div>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Retailer</th>
            <th>Type</th>
            <th>Category</th>
            <th>Total Income</th>
            <th>Total Spent</th>
        </tr>
    </thead>
    {% for retailer in transaction_list %}
    <tr>
        <td>
            {% if retailer.retailer__id %}
            <a href="{% url 'money:retailer_detail' retailer.retailer__id %}">{{ retailer.retailer__name }}</a>
            {% else %}
            {{ retailer.retailer__name }}
            {% endif %}
        </td>
        <td>{{ retailer.retailer__type }}</td>
        <td>{{ retailer.retailer__category }}</td>
        <td>{{ retailer.minus_sum | print_currency:currency | safe }}</td>
        <td>{{ retailer.plus_sum | print_currency:currency | safe }}</td>
    </tr>
    {% endfor %}
</table>


<div>
    <canvas id="myChart" width="500" height="500"></canvas>
</div>


<script>
    const ctx = document.getElementById('myChart');

    new Chart(ctx, {
        type: 'doughnut',
        data: {
            labels: {{ label | safe }},
        datasets: [{
            label: 'Category',
            data: {{ data | safe }}
            }]
        },
        options: {
        maintainAspectRatio: false,
        responsive: true
    }
    });
</script>

<script>
    const myButton = document.getElementById("update_retailer_type");

    myButton.addEventListener("click", function () {
        fetch("{% url 'money:update_retailer_type' %}", {
            method: "GET"
        })
            .then(response => response.json())
            .then(data => {
                // handle response
                myButton.innerHTML = data.success ? "Success" : "Error";
            })
            .catch(error => {
                // handle error
                console.error(error);
            })
            .finally(() => {
                myButton.disabled = true;
            })
    });

</script>
{% endblock %}
