{% extends "base.html" %}


{% block content %}
<p>{{ account.name }}</p>

<div>
    <canvas id="myChart"></canvas>
</div>

<button type="button" class="btn btn-secondary" id="update_button">
    Update Balance
</button>
<a type="button" class="btn btn-secondary" href="{% url 'money:transaction_create' account.id %}">
    Add transaction
</a>


<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Date</th>
            <th>Use For</th>
            <th>Amount</th>
            <th>Balance</th>
        </tr>
    </thead>
    {% for transaction in ordered_transaction_set %}
    <tr>
        <td><a href="{% url 'money:transaction_detail' transaction.id %}">{{ transaction.id }}</a></td>
        <td>{{ transaction.datetime.date }}</td>
        <td>{{ transaction.retailer.name }}</td>
        <td>{{ transaction.amount|floatformat:2 }}</td>
        <td>{{ transaction.balance|floatformat:2 }}</td>
    </tr>
    {% endfor %}
</table>

{% with chartId="myChart" %}
{% include 'transaction/transaction_chart.html' %}
{% endwith %}

<script>
    const myButton = document.getElementById("update_button");

    myButton.addEventListener("click", function () {
        fetch("{% url 'money:update_balance' account.id %}", {
            method: "GET"
        })
            .then(response => response.json())
            .then(data => {
                // handle response
                myButton.innerHTML = data.success ? "Success" : "Error";
            })
            .catch(error => {
                // handle error
                console.error(error);
                myButton.innerHTML = "Error";
            })
            .finally(() => {
                myButton.disabled = true;
            })
    });

</script>

{% endblock %}