{% extends "base.html" %}


{% block content %}
<h1>{{ account.name }} Details</h1>

<a href="{% url 'money:bank_detail' account.bank.id %}" class="btn btn-outline-secondary">{{ account.bank.name }}</a>

<div>
    <canvas id="myChart"></canvas>
</div>

<button type="button" class="btn btn-secondary update-balance-button"
    data-arg="{% url 'money:update_balance' account.id %}">
    Update Balance
</button>
<a type="button" class="btn btn-secondary" href="{% url 'money:transaction_create' account.id %}">
    Add transaction
</a>

{% if account.type == "STOCK" %}
<a type="button" class="btn btn-secondary" href="{% url 'money:stock_transaction_create' account.id %}">
    Add stock transaction
</a>
{% endif %}

{% with transaction_list=page_obj.object_list print_flags=True print_balance=True ignore_account=True print_related=True %}
{% include 'transaction/transaction_table.html' %}
{% endwith %}

{% include 'shared/pagination.html' %}

{% with chartId="myChart" %}
{% include 'transaction/transaction_chart.html' %}
{% endwith %}

{% include 'scripts/toggle_reviewed.html' %}
{% include 'scripts/update_balance.html' %}

{% endblock %}