{% load money_tags %}

<nav aria-label="Page navigation example">
    <ul class="pagination">
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="{{ additional_get_query|update_page:1|print_argument }}">
                &laquo;first
            </a>
        </li>
        <li class="page-item">
            <a class="page-link"
                href="{{ additional_get_query|update_page:page_obj.previous_page_number|print_argument }}">
                &lsaquo; prev
            </a>
        </li>
        {% endif %}
        {% for i in page_obj.paginator.page_range %}
        {% if page_obj.number == i %}
        <li class="page-item">
            <a class="page-link"><strong>{{ i }}</strong></a>
        </li>
        <br />
        {% else %}
        <li class="page-item">
            <a class="page-link" href="{{ additional_get_query|update_page:i|print_argument }}">{{ i }}</a>
        </li>
        {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}

        <li class="page-item">
            <a class="page-link" href="{{ additional_get_query|update_page:page_obj.next_page_number|print_argument }}">
                next &rsaquo;
            </a>
        </li>

        <li class="page-item">
            <a class="page-link"
                href="{{ additional_get_query|update_page:page_obj.paginator.num_pages|print_argument }}">
                last &raquo;
            </a>
        </li>
        {% endif %}
    </ul>
</nav>