{% extends "base.html" %}
{% load money_tags %}

{% block content %}

{% with link="money:category" option_name="account_type" %}
{% include 'shared/option_selector.html' %}
{% endwith %}

<table class="table table-striped">
    <thead>
        <tr>
            <th>Bank</th>
            <th>Account</th>
            <th>Balance</th>
            <th>Type</th>
            <th>Last updated</th>
            <th>Last transaction</th>
            <th>First transaction</th>
            <th>Unreviewed</th>
            <th>Update</th>
        </tr>
    </thead>
    {% for account in account_list %}
    <tr>
        <td><a href="{% url 'money:bank_detail' account.bank.id %}">{{ account.bank }}</a></td>
        <td><a href="{% url 'money:account_detail' account.id %}">{{ account.name }}</a></td>
        <td align="right">{{ account.amount | print_currency:account.currency | safe }}</td>
        <td>{{ account.type }}</td>
        <td>{{ account.last_update | date:"Y-m-d" }} ({{ account.last_update|days_ago }})</td>
        <td>{{ account.last_transaction | date:"Y-m-d" }} ({{ account.last_transaction|days_ago }})</td>
        <td>{{ account.first_transaction | date:"Y-m-d" }}{% if not account.first_added %}(Not Correct){% endif %}</td>
        <td>{{ account.unreviewed_count }}</td>
        <td>
            {% if account.null_count %}
            <button type="button" class="btn btn-secondary update-balance-button"
                data-arg="{% url 'money:update_balance' account.id %}">
                Update Balance
            </button>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
<table class="table table-striped">
    <tr style="border-bottom: 2px solid black;border-top: 2px solid black">
        <th>Total</th>
        <th>Current Balance</th>
        <th>Previous Balance</th>
        <th>Diff</th>
        <th>Ratio</th>
    </tr>
    {% for currency, sum in sum_list %}
    <tr>
        <td>Total {{ currency }}</td>
        <td align="right">{{ sum.current | print_currency:currency | safe }}</td>
        <td align="right">{{ sum.prev | print_currency:currency | safe }}</td>
        <td align="right">{{ sum.diff | print_currency:currency | safe }}</td>
        <td>{{ sum.ratio }}%</td>
    </tr>
    {% endfor %}
</table>

{% include 'scripts/update_balance.html' %}

{% endblock %}
