{% extends "base.html" %}
{% load money_tags %}

{% block content %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Bank</th>
            <th>Account</th>
            <th>Balance</th>
            <th>Last updated</th>
            <th>Last transaction</th>
        </tr>
    </thead>
    {% for account in account_list %}
    <tr>
        <td><a href="{% url 'money:bank' account.bank.id %}">{{ account.bank }}</a></td>
        <td><a href="{% url 'money:account' account.id %}">{{ account.name }}</a></td>
        <td align="right">{{ account.amount | print_currency:account.currency }}</td>
        <td>{{ account.last_update | date:"Y-m-d" }}</td>
        <td>{{ account.last_transaction | date:"Y-m-d" }}</td>
    </tr>
    {% endfor %}
    {% for currency, sum in sum_list %}
    <tr style="border-bottom: 2px solid black;border-top: 2px solid black">
        <td colspan="2">Total {{ currency }}</td>
        <td align="right">{{ sum | print_currency:currency }}</td>
        <td colspan="2"></td>
    </tr>
    {% endfor %}
</table>

{% endblock %}