{% extends "base.html" %}

{% block content %}
{% load money_tags %}

<h1>Amazon transactions</h1>

<a href="{% url 'money:amazon_order_list' %}" class="btn btn-primary">Amazon Orders</a>

{% with ignore_retailer=True add_detail=True %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Date</th>
            <th>Account</th>
            <th>Amount</th>
            <th>Category</th>
            <th>Note</th>
            <th>Add details</th>
            <th>Order Counts</th>
        </tr>
    </thead>
    {% for transaction in transaction_list %}
    <tr>
        {% include 'transaction/transaction_cell.html' %}
        <td>{{ transaction.order_count }}</td>
    </tr>
    {% endfor %}

</table>
{% endwith %}

{% endblock %}