{% load money_tags %}

<td><a href="{% url 'money:transaction_detail' transaction.id %}">{{ transaction.id }}</a></td>
<td>{{ transaction.date | date:"Y-m-d" }}</td>

{% if not ignore_retailer %}
<td>
    {% if transaction.retailer %}
    <a href="{% url 'money:retailer_detail' transaction.retailer.id %}">{{ transaction.retailer }}</a>
    {% endif %}
</td>
{% endif %}

{% if not ignore_account %}
<td><a href="{% url 'money:account_detail' transaction.account.id %}">{{ transaction.account }}</a></td>
{% endif %}

<td align="right">{{ transaction.amount | print_currency:transaction.account.currency | safe }}</td>

{% if print_balance %}
<td>{{ transaction.balance | print_currency:transaction.account.currency | safe }}</td>
{% endif %}

{% if not ignore_category %}
<td><a href="{% url 'money:category_detail' transaction.type %}">{{ transaction.type }}</a></td>
{% endif %}
<td>{{ transaction.note }}</td>

{% if print_related %}
<td>
    {% if transaction.related_transaction %}
    {{ transaction.related_transaction.id }}({{ transaction.related_transaction.reviewed }})
    {% endif %}
</td>
<td>
    {% if transaction.transactiondetail_set.count %}
    {{ transaction.transactiondetail_set.count }}
    {% endif %}
</td>
{% endif %}

{% if print_flags %}
<td {% if transaction.is_internal %}class="table-info" {% endif %}>{{ transaction.is_internal }}</td>
<td {% if transaction.requires_detail %}class="table-warning" {% endif %}>
    {{ transaction.requires_detail }}
</td>
<td {% if not transaction.reviewed %}class="table-danger" {% endif %}>
    <a data-arg="{% url 'money:toggle_reviewed' transaction.id %}"
        class="btn btn-outline-primary toggle-reviewed-button">
        {{ transaction.reviewed }}
    </a>
</td>
{% endif %}

{% if add_detail %}
<td>
    {% if transaction.requires_detail and transaction.transactiondetail_set.count == 0 %}
    <a class="btn btn-primary" href="{% url 'money:transaction_detail_create' transaction.id %}">
        Add
    </a>
    {% elif transaction.requires_detail %}
    Detail Added
    {% else %}
    N/A
    {% endif %}
</td>
{% endif %}
