{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load money_tags %}

{% block content %}

<a href="{% url 'money:account_detail' account.id %}" class="btn btn-outline-secondary">{{ account }}</a>

{% crispy form %}


{% if latest_transaction %}
<h3 style="margin-top: 20px;">Last Transaction</h3>
<table class="table">
    <tr>
        <th>
            Date
        </th>
        <td>
            {{ latest_transaction.date|date:"Y-m-d" }}
        </td>
    </tr>
    <tr>
        <th>
            Retailer
        </th>
        <td>{{ latest_transaction.retailer }}</td>
    </tr>
    <tr>
        <th>
            Amount
        </th>
        <td>{{ latest_transaction.amount|print_currency:account.currency | safe }}</td>
    </tr>
</table>
{% endif %}
{% include 'scripts/pop_up.html' %}

{% include 'widgets/increase_by_one.html' %}
{% endblock %}
