{% extends "base.html" %}

{% block content %}

<a href="{% url 'money:review_transaction' %}" class="btn btn-success">Review Transactions</a>

<a href="{% url 'money:review_internal_transaction' %}" class="btn btn-success">Review Internal Transactions</a>

<h1>USD Chart</h1>
<div>
    <canvas id="USDChart"></canvas>
</div>

<h1>KRW Chart</h1>
<div>
    <canvas id="KRWChart"></canvas>
</div>

{% with data=usd_data chartId="USDChart" %}
{% include 'transaction/transaction_chart.html' %}
{% endwith %}

{% with data=krw_data chartId="KRWChart" %}
{% include 'transaction/transaction_chart.html' %}
{% endwith %}
{% endblock %}