{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load money_tags %}

{% block content %}

<div class="p-3">
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Date</th>
                <th>Retailer</th>
                <th>Account</th>
                <th>Amount</th>
                <th>Category</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                {% include 'transaction/transaction_cell.html' %}
            </tr>
        </tbody>
    </table>
</div>

<form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="form-group">
        <div class=""><input type="submit" name="submit" value="Submit" class="btn btn-primary" id="submit-id-submit" />
        </div>
    </div>
</form>

<div class="p-3">
    <h3>남은 금액 {{ leftover | print_dollar }}</h3>

    {% if details %}
    <table class="table">
        <thead>
            <tr>
                <th>항목</th>
                <th>단가</th>
                <th>갯수</th>
                <th>금액</th>
                <th>노트</th>
            </tr>
        </thead>
        {% for detail in details %}
        <tr>
            <td>{{ detail.item.name }}</td>
            <td>{{ detail.amount | print_dollar }}</td>
            <td>{{ detail.count }}</td>
            <td>{{ detail.amount | multiply:detail.count | print_dollar }}</td>
            <td>{% if detail.note %}{{ detail.note }}{% endif %}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endif %}

<script>
    function openPopup(link) {
        // Open the pop-up window
        window.open(link + "?_to_field=id&_popup=1", 'popup', 'height=500,width=800,resizable=yes,scrollbars=yes,modal=yes');
    }
</script>
{% endblock %}