<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Date</th>
            {% if not ignore_retailer %}
            <th>Retailer</th>
            {% endif %}
            {% if not ignore_account %}
            <th>Account</th>
            {% endif %}
            <th>Amount</th>
            {% if print_balance %}
            <th>Balance</th>
            {% endif %}
            {% if not ignore_category %}
            <th>Category</th>
            {% endif %}
            <th>Note</th>
            {% if print_related %}
            <th>Related</th>
            {% endif %}
            {% if print_flags %}
            <th>Is Internal</th>
            <th>Requires Detail</th>
            <th>Reviewed</th>
            {% endif %}
            {% if add_detail %}
            <th>Add details</th>
            {% endif %}
        </tr>
    </thead>
    {% for transaction in transaction_list %}
    <tr>
        {% include 'transaction/transaction_cell.html' %}
    </tr>
    {% endfor %}

</table>